<!DOCTYPE html>
<html>

<head>
    <title>Aviso de Privacidad</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.contenedor {
    /* Estilos para el contenido principal */
    padding: 20px;
}

.boton-menu.boton-volver {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    text-decoration: none;
    font-size: 15px; 
}

</style>
</head>

<body class="container">
    <CEnter>
        <h1 class="mt-4">Aviso de Privacidad</h1>
        
    </CEnter>
    
    <a class="boton-menu boton-volver" href='/login' style="color: black;">
        <i class="bi bi-arrow-bar-left"></i> <strong>Anterior</strong>

    </a>

    <h3 class="mt-4">SPORTS SIGLO XXI</h3>
    <p>Domicilio: Primera Calle S/N, Guadalupe Pashila, Ocosingo, Chiapas, México
        Portal de Internet: www.sportssigloxxi.com </p>
    <p>Fecha de última actualización: 21 de septiembre de 2023</p>

    <h1 class="mt-4">Responsable del Uso y Protección de Sus Datos Personales:</h1>
    <p>Daniel de Jesús López Pérez, mejor conocido como SPORTS SIGLO XXI, con
        domicilio en la dirección mencionada anteriormente y portal de internet, es el
        responsable del uso y protección de sus datos personales. A continuación, le
        informamos sobre cómo utilizamos sus datos personales.</p>

    <h1 class="mt-4">Finalidades del Tratamiento de Sus Datos Personales: </h1>
    <p>Los datos personales que recabamos de usted son necesarios para proporcionarle
        nuestros servicios y productos, y los utilizaremos para las siguientes finalidades:
    </p>
    <ul>
        <li>Responder a mensajes enviados a través del formulario de contacto.</li>
        <li>Prestar los servicios solicitados.</li>
        <li>Realizar el envío de productos adquiridos en nuestra tienda en línea.</li>
        <li>Dónde Consultar el Aviso de Privacidad Integral: </li>
    </ul>
    <p>Para obtener información más detallada sobre cómo serán tratados sus datos
        personales, los terceros con quienes compartimos su información y cómo ejercer
        sus derechos ARCO, puede consultar el aviso de privacidad integral. Solicite el aviso
        completo a través de la siguiente dirección de correo electrónico:</p>
    <ul>
        <li>Correo Electrónico: sports_siglo21@gmail.com </li>
    </ul>
    <p>Última actualización de este aviso de privacidad: 21/09/2023 </p>
    <button type="submit" class="btn btn-success mt-4 mx-auto">
        <a href='/login' style="color: white;">aceptar</a></button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>