<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sport Siglo XXI</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/home.css" />
</head>

<body>
	<header>
		<div class="container-hero">
			<div class="container hero">
				<div class="customer-support">
					<i class="fa-solid fa-headset"></i>
					<div class="content-customer-support">
						<span class="text">Soporte al cliente</span>
						<span class="number">9191409310</span>
					</div>
				</div>

				<div class="container-logo">

					<h1 class="logo"><a href="/">Sport Siglo XXI</a></h1>
				</div>

				
				<div class="container-user">
					<button type="button" class="btn btn-d" ><a href='/logout' style="color: rgb(15, 14, 14); text-decoration: none; font-family: 'Poppins', sans-serif; font-size: 12px;" >Cerrar Sesion</a></button>
				</div>
			</div>
		</div>

		<div class="container-navbar">
			<nav class="navbar container">
				<i class="fa-solid fa-bars"></i>
				<ul class="menu">
					<li><a href="/" style="color: whitesmoke;">Inicio</a></li>
					<li><a href="/producto" style="color: whitesmoke;">Productos</a></li>
					<li><a href="/contacto" style="color: whitesmoke;">Contactanos</a></li>
				</ul>

				<form class="search-form">
					<input type="search" placeholder="Buscar..." />
					<button class="btn-search">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
			</nav>
		</div>
	</header>

	<section class="banner">
		<div class="content-banner">
			<p style="color: whitesmoke;">Tu mejor Prenda</p>
			<h2>100% Algodon <br /> Ropa de Alta calidad</h2>
			<a href="/producto2" style="font-size: 12px; font-family: 'Poppins', sans-serif;">Comprar ahora</a>
		</div>
	</section>

	<main class="main-content">
		<section class="container container-features">
			<div class="card-feature">
				<i class="fa-solid fa-plane-up"></i>
				<div class="feature-content">
					<span style="color: black;">Envío gratuito a nivel mundial</span>
					<p>En pedido superior a $150</p>
				</div>
			</div>
			<div class="card-feature">
				<i class="fa-solid fa-wallet"></i>
				<div class="feature-content">
					<span style="color: black;">Contrareembolso</span>
					<p>100% garantía de devolución de dinero</p>
				</div>
			</div>
			<div class="card-feature">
				<i class="fa-solid fa-gift"></i>
				<div class="feature-content">
					<span style="color: black;">Rebajas exclusivas</span>
					<p>Ofrece rebajas especiales con regalo</p>
				</div>
			</div>
			<div class="card-feature">
				<i class="fa-solid fa-headset"></i>
				<div class="feature-content">
					<span style="color: black;">Servicio al cliente 24/7</span>
					<p>LLámenos 9191409310</p>
				</div>
			</div>
		</section>

		<section class="container top-categories">
			<h1 class="heading-1">Mejores Categorías</h1>
			<div class="container-categories">
				<div class="card-category category-moca">
					<p>Ropa Deportiva</p>
					<span><a href="#categorias" style="color: aliceblue;">Ver más</a></span>
				</div>
				<div class="card-category category-expreso">
					<p>Calzado Deportivo</p>
					<span><a href="#categorias" style="color: aliceblue;">Ver más</a></span>
				</div>
				<div class="card-category category-capuchino">
					<p>Ropa para Niños</p>
					<span><a href="#categorias" style="color: aliceblue;">Ver más</a></span>
				</div>
			</div>
		</section>

		<section class="container top-products">
			<h1 class="heading-1">Más Vendido</h1>


			<div class="container-products">
				<!-- Producto 1 -->
				<div class="card-product">
					<div class="container-img">
						<img src="/static/img/pantalones/tenis4.png" alt="Cafe Irish" />
						
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Nike Blazer Mid '77 Pro Club 9US-7MX VINTAGE WHITE BLACK</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>

						</span>
						<p class="price">$1,609 </p>
					</div>
				</div>
				<!-- Producto 2 -->
				<div class="card-product">
					<div class="container-img">
						<img src="/static/img/pantalones/tenis5.png" alt="Cafe incafe-ingles.jpg" />
						
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Nike Rpl Park20 - Chaqueta de Deporte, Hombre, Negro (Black/White/White),</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$696</p>
					</div>
				</div>
				<!--  -->
				<div class="card-product">
					<div class="container-img">
						<img src="/static/img/pantalones/tenis4.png" alt="Cafe Australiano" />
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
						<h3>Classic Old Skool Negro/Blanco</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$1,399 <span>$1,890</span></p>
					</div>
				</div>
				<!--  -->
				<div class="card-product">
					<div class="container-img">
						<img src="/static/img/camisetas/10.jpg" alt="Cafe Helado" />
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Conjunto de Top deportivo con letras para niños</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$150</p>
					</div>
				</div>
			</div>
		</section>

		<section class="gallery">
			<img src="/static/img/camisetas/12.jpg" alt="Gallery Img1" class="gallery-img-1" /><img src="/static/img/vestimenta.jpg"
				alt="Gallery Img2" class="gallery-img-2" /><img src="/static/img/abrigos/08.jpg" alt="Gallery Img3"
				class="gallery-img-3" /><img src="/static/img/abrigos/10.jpg" alt="Gallery Img4" class="gallery-img-4" /><img
				src="/static/img/abrigos/09.jpg" alt="Gallery Img5" class="gallery-img-5" />
		</section>

		<section class="container specials">
			<h1 class="heading-1">Especiales</h1>

			<div class="container-products">
				<!-- Producto 1 -->
				<div class="card-product">
					<div class="container-img">
						<img src="/static/img/abrigos/01.jpg" alt="Cafe Irish" />
						<span class="discount">-13%</span>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Chaqueton azul marino con cierre reversible</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$588 <span>$675</span></p>
					</div>
				</div>
				<!-- Producto 2 -->
				<div class="card-product">
					<div class="container-img">
						<img src="/static/img/pantalones/tenis3.png" alt="Cafe incafe-ingles.jpg" />
						<span class="discount">-22%</span>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Tenis Runfalcon 3</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$1,794 <span>$2,300</span></p>
					</div>
				</div>
				<!--  -->
				<div class="card-product">
					<div class="container-img">
						<img src="/static/img/abrigos/05.jpg" alt="Cafe Viena" />
						<span class="discount">-30%</span>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
						<h3>Sudadera Transpirable Kike Sport 2000 GT Negra</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$2,500 <span>$1,750</span></p>
					</div>
				</div>
				<!--  -->
				<div class="card-product">
					<div class="container-img">
						<img src="/static/img/pantalones/tenis2.png" alt="Cafe Liqueurs" />
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Tenis Puma Fresas con crema unisex</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$1,399</p>
					</div>
				</div>
			</div>
		</section>

		<section class="container blogs" id="categorias">
			<h1 class="heading-1">Mejores Categorias</h1>

			<div class="container-blogs">
				<div class="card-blog">
					<div class="container-img">
						<img src="/static/img/foto1.jpg" alt="Imagen Blog 1" />
						
					</div>
		
						<div class="content-blog">
							<h3>Ropa Deportiva</h3>
							<span>29 Noviembre 2022</span>
							<p>
								Amplia selección de prendas de vestir diseñadas para llevar tu
                                rendimiento al siguiente nivel y verte genial mientras lo haces.
							</p>
							<div class="btn-read-more">
								<span><a href="/producto" style="color: aliceblue;">Ver más</a></span>
							</div>
						</div>
					
				</div>
				<div class="card-blog">
					<div class="container-img">
						<img src="/static/img/foto2.jpg" alt="Imagen Blog 2" />
					</div>

					
					<div class="content-blog">
						<h3>Calzados</h3>
						<span>29 Noviembre 2022</span>
						<p>
							Ofrecemos una excepcional colección de tenis deportivos diseñados
                                para brindarte comodidad, rendimiento y estilo en cada paso que das.
						</p>
						<div class="btn-read-more">
							<span><a href="/producto2" style="color: aliceblue;">Ver más</a></span>
						</div>
					</div>
				
				</div>
				<div class="card-blog">
					<div class="container-img">
						<img src="/static/img/foto4.jpeg"alt="Imagen Blog 3" />
					</div>
					
					<div class="content-blog">
						<h3>Ropa para Niños</h3>
						<span>29 Noviembre 2022</span>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Iste, molestiae! Ratione et, dolore ipsum
							quaerat iure illum reprehenderit non maxime amet dolor
							voluptas facilis corporis, consequatur eius est sunt
							suscipit?
						</p>
						<div class="btn-read-more">
							<span><a href="/producto2" style="color: aliceblue;">Ver más</a></span>
						</div>
					</div>
				
				</div>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="container container-footer">
		  <div class="menu-footer">
			<div class="contact-info">
			  <p class="title-footer">Información de Contacto</p>
			  <ul>
				<li>
				  Dirección:  Primera Calle S/N, Guadalupe Pashila, Ocosingo, Chiapas, México
				</li>
				<li>Teléfono: +52 919-140-93-10</li>
				<li>EmaiL: sports_siglo21@gmail.com</li>
			  </ul>
			  <div class="social-icons">
				<span class="facebook">
				  <i class="fa-brands fa-facebook-f"></i>
				</span>
				<span class="twitter">
				  <i class="fa-brands fa-twitter"></i>
				</span>
				<span class="youtube">
				  <i class="fa-brands fa-youtube"></i>
				</span>
				<span class="pinterest">
				  <i class="fa-brands fa-pinterest-p"></i>
				</span>
				<span class="instagram">
				  <i class="fa-brands fa-instagram"></i>
				</span>
			  </div>
			</div>
	  
			<div class="information">
			  <p class="title-footer">Información</p>
			  <ul>
				<li><a href="#">Acerca de Nosotros</a></li>
				<li><a href="#">Politicas de Privacidad</a></li>
				<li><a href="#">Términos y condiciones</a></li>
				<li><a href="/contacto">Contactános</a></li>
			  </ul>
			</div>
	  
			<div class="my-account">
			  <p class="title-footer">Mi cuenta</p>
	  
			  <ul>
				<li><a href="#">Mi cuenta</a></li>
				<li><a href='/contacto'>Información Adicional</a></li>
				<li><a href="/contacto">Reembolsos</a></li>
			  </ul>
			</div>
	  
			<div class="newsletter">
			  <p class="title-footer">Boletín informativo</p>
	  
			  <div class="content">
				<p>
				  Suscríbete a nuestros boletines ahora y mantente al
				  día con nuevas colecciones y ofertas exclusivas.
				</p>
				<input type="email" placeholder="Ingresa el correo aquí...">
				<button>Suscríbete</button>
			  </div>
			</div>
		  </div>
	  
		  <div class="copyright">
			<p>
			  Desarrollado por Sport Siglo XXI
			</p>
	  
			<img src="/static/img/payment.png" alt="Pagos">
		  </div>
		</div>
	  </footer>
	<script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>